@model Security

@{
    var portfolioId = ViewData["PortfolioId"] as Guid?;
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Security Details</h2>

    <dl class="row">
        <dt class="col-sm-2">Symbol</dt>
        <dd class="col-sm-10">@Model.TickerSymbol</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>

    <div class="mt-4">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-secondary"><i class="bi bi-pencil"></i> Edit</a>
        <a href="@Url.Action("Index", new {portfolioId = portfolioId})" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back to List</a>
    </div>
</div>
