@model TraderPerformance.Models.Portfolio

<div>
    <h4>@Model.Name Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>
    </dl>
</div>
