@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <form id="account" method="post" class="mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label for="Input_Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Input_Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                </div>
                <div class="mb-3 text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-lg w-50">Log in</button>
                </div>
                <div class="text-center">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> |
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> |
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
